@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-ExtraLight.eot');
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
        url('/fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Montserrat-ExtraLight.woff2') format('woff2'),
        url('/fonts/Montserrat-ExtraLight.woff') format('woff'),
        url('/fonts/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-MediumItalic.eot');
    src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
        url('/fonts/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Montserrat-MediumItalic.woff2') format('woff2'),
        url('/fonts/Montserrat-MediumItalic.woff') format('woff'),
        url('/fonts/Montserrat-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Italic.eot');
    src: local('Montserrat Italic'), local('Montserrat-Italic'),
        url('/fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Montserrat-Italic.woff2') format('woff2'),
        url('/fonts/Montserrat-Italic.woff') format('woff'),
        url('/fonts/Montserrat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.eot');
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('/fonts/Montserrat-Regular.woff') format('woff'),
        url('/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-ThinItalic.eot');
    src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
        url('/fonts/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Montserrat-ThinItalic.woff2') format('woff2'),
        url('/fonts/Montserrat-ThinItalic.woff') format('woff'),
        url('/fonts/Montserrat-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.eot');
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('/fonts/Montserrat-Bold.woff') format('woff'),
        url('/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Light.eot');
    src: local('Montserrat Light'), local('Montserrat-Light'),
        url('/fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Montserrat-Light.woff2') format('woff2'),
        url('/fonts/Montserrat-Light.woff') format('woff'),
        url('/fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Black.eot');
    src: local('Montserrat Black'), local('Montserrat-Black'),
        url('/fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Montserrat-Black.woff2') format('woff2'),
        url('/fonts/Montserrat-Black.woff') format('woff'),
        url('/fonts/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Medium.eot');
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url('/fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Montserrat-Medium.woff2') format('woff2'),
        url('/fonts/Montserrat-Medium.woff') format('woff'),
        url('/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-ExtraLightItalic.eot');
    src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
        url('/fonts/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('/fonts/Montserrat-ExtraLightItalic.woff') format('woff'),
        url('/fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-BlackItalic.eot');
    src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
        url('/fonts/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Montserrat-BlackItalic.woff2') format('woff2'),
        url('/fonts/Montserrat-BlackItalic.woff') format('woff'),
        url('/fonts/Montserrat-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-ExtraBoldItalic.eot');
    src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
        url('/fonts/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('/fonts/Montserrat-ExtraBoldItalic.woff') format('woff'),
        url('/fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-SemiBoldItalic.eot');
    src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
        url('/fonts/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/Montserrat-SemiBoldItalic.woff') format('woff'),
        url('/fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-ExtraBold.eot');
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
        url('/fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('/fonts/Montserrat-ExtraBold.woff') format('woff'),
        url('/fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-BoldItalic.eot');
    src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
        url('/fonts/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Montserrat-BoldItalic.woff2') format('woff2'),
        url('/fonts/Montserrat-BoldItalic.woff') format('woff'),
        url('/fonts/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-LightItalic.eot');
    src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
        url('/fonts/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Montserrat-LightItalic.woff2') format('woff2'),
        url('/fonts/Montserrat-LightItalic.woff') format('woff'),
        url('/fonts/Montserrat-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-SemiBold.eot');
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('/fonts/Montserrat-SemiBold.woff') format('woff'),
        url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Thin.eot');
    src: local('Montserrat Thin'), local('Montserrat-Thin'),
        url('/fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Montserrat-Thin.woff2') format('woff2'),
        url('/fonts/Montserrat-Thin.woff') format('woff'),
        url('/fonts/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


body {
    background: #202020;
    margin: 0px;
    font-family: 'Montserrat', sans-serif, Arial;
}

.header {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 60px 60px;
}

.header .header_logo {
    grid-row-start: 1;
    grid-row-end: 3;
}

.header .header_menu-top {
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
}

.header .header_menu-bottom {
    grid-row: 2;
    text-align: right;
}

.header .header_menu-top .header_menu-top_callback a {
    color: #558FDC;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 60px;
}

.header .header_menu-top .header_menu-top_telephone {
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: max-content max-content;    
    height: 40px;
    margin: 10px 0px 10px 23px;
}

.header .header_menu-top .header_menu-top_telephone img {
    grid-row: 1;
    grid-row-end: 3;
    margin: 7px 0px;
}

.header .header_menu-top .header_menu-top_telephone p {
    grid-column: 2;
    margin: 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    align-items: center;
    text-transform: uppercase;
    color: #DDDDDD;
}

.header .header_menu-top .header_menu-top_telephone a {
    grid-column: 2;
    grid-row: 2;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
/* identical to box height */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.header .header_menu-top .header_menu-top_telephone a:hover {
    text-decoration: underline;
}

.header .header_logo img {margin: 32px 0px;}

.header .header_menu-bottom ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.header .header_menu-bottom ul li {
    font-family: sans-serif;
    margin-left: 55px;
}

.header .header_menu-bottom ul li a {
    line-height: 39px;
    color: #DDDDDD;
    text-decoration: none;
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
}

.header .header_menu-bottom ul li a:hover {
	text-decoration: underline;
}

.header .header_menu-top .header_menu-top_callback {
    margin-right: 12px;
}

.main-block {
    margin-top: 250px;
}

header.head {
    z-index: 10;
    position: relative;
}

section#main {
    min-height: 100vh;
    background-image: url(../images/main-background.jpg);
    margin-top: -120px;
    background-position: bottom;
    background-size: cover;
}

.main-block .main-block_name-company {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #558FDC;
}

.main-block .main-block_main-title {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 72px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 50px;
}

.main-block .main-block_main-title b {
}

.main-block .main-block_count-building {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #DDDDDD;
    display: flex;
    margin-bottom: 50px;
}

.main-block .main-block_count-building .main-block_count-building_line {
    width: 68px;
    height: 2px;
    background: #558FDC;
    margin-top: 11px;
    margin-right: 15px;
}

.main-block ul.main-block_list-advantages .main-block_list-advantages_item {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #DDDDDD;
    margin-right: 50px;
}

.main-block ul.main-block_list-advantages {
    display: flex;
    margin: 0px;
    list-style-type: none;
    margin-bottom: 65px;
    padding-inline-start: 0px;
}

.main-block ul.main-block_list-advantages .main-block_list-advantages_item:before {
    content: "";
    height: 10px;
    width: 10px;
    background: #558FDC;
    border-radius: 2px;
    margin-right: 9px;
}

.main-block .main-block_count-building p {
    margin: 0px;
}

.main-block .main-block_button {
    display: inline-block;
    display: flex;
    width: max-content;
    padding: 13px 40px;
    position: relative;
    display: inline-block;
}

.main-block .main-block_button span.main-block_button_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    align-items: center;
    color: #FFFFFF;
    transition: 0.3s;
}

.main-block a {
    text-decoration: none;
}

.main-block .main-block_button:before {content: "";position: absolute;width: 57%;height: 100%;top: 0px;left: 0px;border: 1px solid white;}

.main-block .main-block_button:before {}

.main-block .main-block_button:hover span.main-block_button_text {
    transform: translateX(15px);
}

.main-block .main-block_button span.main-block_button_icon {
    margin-left: 10px;
    transition: 0.3s;
    display: inline-block;
}

.main-block .main-block_button:hover span.main-block_button_icon {
    transform: translateX(15px);
}

.info-house {
    margin-top: 152px;
    position: relative;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
}

.info-house_points_item_text {
    display: none;
}

.info-house_points_item_button {
    background: #2E2E2E;
    display: inline-block;
    padding: 5.5px 9px;
    border-radius: 50%;
    transition: 0.2s;
}

ul.info-house_points {
    position: absolute;
    top: 0px;
    list-style-type: none;
    width: 100%;
    height: 100%;
    margin: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

li.info-house_points_item {
    position: absolute;
}

ul.info-house_points li.info-house_points_item:nth-child(1) {
    top: 22%;
    right: 25%;
}

ul.info-house_points li.info-house_points_item:nth-child(2) {
    top: 46%;
    left: 27%;
}

ul.info-house_points li.info-house_points_item:nth-child(3) {
    top: 60%;
    right: 14%;
}

ul.info-house_points li.info-house_points_item:nth-child(4) {
    top: 82%;
    left: 43%;
}

.info-house_points_item.active .info-house_points_item_text {
    display: block;
    position: absolute;
    right: 50px;
    width: 244px;
    top: -25px;
    padding: 15px 15px 5px 15px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
}

.info-house_points_item_text b {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    
/* identical to box height */
    color: #000000;
}

.info-house_points_item_text p {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #000000;
    margin-top: 10px;
    line-height: 20px;
}

.info-house_points_item_text:before {content: "";border: 13px solid transparent;border-left: 11px solid rgba(255, 255, 255, 0.8);position: absolute;right: -24px;top: 26px;}

.info-house_points_item.active .info-house_points_item_button {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #242424;
}

.info-house_image img {
    width: 100%;
}

.info-house_points_item_button:hover {
    background: #232323;
    cursor: pointer;
}

.mouse-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

h2.gallery-block_head_title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    
/* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px;
}

.gallery-block .gallery-block_head {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.gallery-block_head_slider {
    display: flex;
}

.gallery-block_head_slider div {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.gallery-block_head_slider_number span.gallery-block_head_slider_number_item:nth-child(2) {
    font-family: Montserrat;
    font-style: normal;
    font-size: 24px;
    text-transform: uppercase;
}

.gallery-block_head_slider_number span.gallery-block_head_slider_number_item:nth-child(3) {
    font-family: Montserrat;
    font-style: normal;
    font-size: 18px;
    text-transform: uppercase;
    color: #767676;
}

.gallery-block_head_slider_number {
    margin: 0px 9px;
}


.gallery-block_slider_line_item {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    flex: 0 0 100%;
}

.gallery-block_head_slider_prev:hover {
    cursor: pointer;
    opacity: 0.5;
}

.gallery-block_head_slider_next:hover {
    cursor: pointer;
    opacity: 0.5;
}

.gallery-block_slider_line_item img {
    width: 100%;
}

.gallery-block_slider {
    display: -webkit-inline-box;
    overflow: hidden;
    margin-bottom: 180px;
}

.gallery-block_slider_line {
    display: flex;
    transform: translateX(0%);
    transition: 0.3s;
}